body {
    margin: 20px;
}

body, input, select {
	font-size: 16px;
	font-family: 'Open Sans';
}

h1, h2, h3, h4 {
	color: #337ab7;
}

/* Bootstrap */
.form-control{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Braille */
.braille {
    margin: 10px;
    padding: 0;
}

.char {
    width: 80px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin: 7px;
}

.one {
    background-color: black;
}

.zero {
    background-color: #e0e0e0;
}

.error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 4px;
}

.hide {
    display: none;
}

.show {
    display: block;
}
